.forms {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: solid black 5px;
  height: 50%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: rgb(214, 52, 52);
  width: 20%;
}
.button {
  text-align: center;
}

body {
  background-image: url("FICA.PNG");
}
